main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: 'Glory', sans-serif;
    padding-top: 180px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    width: 100%;
    max-width: 360px;

    gap: 20px;
}

input {
    width: calc(100% - 20px);
    border: 0px solid transparent;
    margin: 0;
    padding: 10px;
}

.form-span {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-span .hide-show {
    position: absolute;
    right: 5px;
    background-color: #11111172;
    color: #FAFAFA;
    border: 0px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.form-span .hide-show:hover {
    background-color: #1111115d;
}
.form-span .hide-show:active {
    background-color: #11111184;
    scale: 99.5%;
}




.button-holder {
    min-width: 200px;
    width: 100%;
    max-width: 360px;
    
    display: flex;
    flex-direction: row;
}

#regenerate {
    width: max-content;
    margin: 0;
    padding: 0;
    transition: .2s ease;
}

.discard-icon-btn {
    scale: 95%;
    width: 100%;
    max-width: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FAFAFA;
    background-color: var(--red_col);
    
    border: 0px solid transparent;
    
    font-size: 1.4rem;
    font-family: 'Glory', sans-serif;
    font-weight: 600;

    cursor: pointer;
    transition: .2s ease;
    padding: 0px 10px;
    margin-left: 4px;
}

.icon-btn {
    scale: 95%;
    width: 100%;
    max-width: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FAFAFA;
    background-color: var(--green_col);
    
    border: 0px solid transparent;
    
    font-size: 1.4rem;
    font-family: 'Glory', sans-serif;
    font-weight: 600;

    cursor: pointer;
    transition: .2s ease;
    padding: 0px 10px;
}

.main-button {
    min-width: 200px;
    width: 100%;
    max-width: 360px;
    height: 50px;

    color: #FAFAFA;
    background-color: var(--green_col);
    
    border: 0px solid transparent;
    
    font-size: 1.4rem;
    font-family: 'Glory', sans-serif;
    font-weight: 600;

    cursor: pointer;
    transition: .2s ease;
}

.discard-icon-btn:hover {
    background-color: var(--red_hover_col);
}
.discard-icon-btn:active {
    scale: 99.5%;
    background-color:var(--red_active_col);
}

.main-button:hover, .icon-btn:hover {
    background-color:var(--green_hover_col);
}

.main-button:active, .icon-btn:active {
    scale: 99.5%;
    background-color:var(--green_active_col);
}

.main-button:disabled {
    background-color:var(--green_disabled_col);
    cursor: default;
    scale: 95%;
}